


body {
    background-color:white;
}

#container {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#text {
    font-size: 30px;
    font-weight: bold;
}

#gif {
    width: 50%;
}